<div class="top-image-section">
  <div class="overlay">

    <div class="layout-row">
      <div class="height-100 flex-gt-md-50 flex-100">
        <div class="image-text-block">
          <div class="coin-name">{{t "index.title.line1"}}</div>
          <div class="description">
            <div>{{t "index.title.line2"}}</div>
          </div>
        </div>
      </div>
      <div class="height-100 flex-gt-md-50 hide-xs hide-sm hide-md">
        <div class="gif-block">
          <img src="https://media.giphy.com/media/3tEFVAbfzzcwo/giphy.gif">
        </div>
         
      </div>
    </div>
  
    <div class="bottom-button-arrow" {{action "slideTo2ndFrame"}}>
        {{arrow/arrow-down}}
    </div>

  </div>
</div>
