<div class='container'>
  <div class="title">
    <h2>{{t "section.exchange.title"}}</h2>
  </div>

  <div class="server-desc">
    <p>
     {{t "section.exchange.block1"}}
    </p>
    <p>
      {{t "section.exchange.block2"}}
    </p>
  </div>

  <div class="exchange">
    <a href="https://vindax.com/exchange-base.html?symbol=PRCO_USDT" target="_blank"><img src="/img/Vindax.svg"></a>
    <div class="not_working">
      {{t "section.exchange.block3"}}
    </div>
  </div>

</div>
