<div class='container'>

  <div class="title">
    <h2>Mais qu'est ce cette chose ?</h2>
  </div>

  <div class="way-of-life clear wow fadeInLeft">
    <div class="left-img img-container">

    </div>

    <div class="content-right">
      <div>
        <h3>Une cryptomonnaie securisee</h3>
        <p>La securisation de ses avoirs financiers est primordial pour tous. Ca l'est d'autant plus pour les raton-laveurs qui souhaitent avant tout pouvoir proteger leur tresors des voyous !</p>
        <p>De tout temps une orde de bandits masques s'en prennent aux biens des raton-laveurs. C'est pourquoi les raton-laveurs ont cree <b><i><u>Procyon 'coon' coin</u></i></b>.</p> 
      </div>
    </div>
  </div>
  <div class="way-of-life clear wow fadeInRight">
    <div class="right-img img-container">

    </div>
    <div class="content-left">
      <div>
        <h3 class='right'>Des mineurs Raton-Laveurs</h3>
        <p>Inspiree de technologies evoluee comme le Bitcoin ou encore le Ravencoin, le Procyon 'coon' coin beneficie d'une securitee renforcee.</p>
        <p>Quelle serait la securite de Procyon 'coon' coin sans ses raton-laveurs mineurs. Cette espece qui devient rare avec le temps travaille jour et nuit afin de garantir la securitee optimale de toutes les transactions des Raton-Laveurs</p>
        <p>Vous vous sentez l'ame d'un raton-laveur mineur ? C'est par ici que ca se passe !</p>
      </div>
    </div>
  </div>
  <div class="way-of-life clear wow fadeInLeft">
    <div class="left-img left-img-2 img-container">

    </div>

    <div class="content-right">
      <div>
        <h3>Un reseau rapide</h3>
        <p>Procyon 'coon' coin s'appuie sur un reseau decentralise, pouvant effectuer de nombreuses transactions a la seconde.</p>
      </div>
    </div>
  </div>
</div>
