<div class='container'>
  <div class="title">
    <h2>{{t "section.team.title"}}</h2>
  </div>

  <div class="server-desc">
    <p>
     {{t "section.team.block1"}}
    </p>
    <p>
      {{t "section.team.block2"}} <a class="contact" href="https://x.com/procyoncoin">@procyoncoin</a>
    </p>
  </div>


  <div class="description wow fadeInUp">
    <ul>
      <li>
        <img src="/img/team/billy.jpg">
        <div class='item-title'>Raccoons</div>
        <div class='underline'></div>
        <div class='text'>{{t "section.team.block_finder"}}</div>
      </li>
    
    </ul>
  </div>

</div>
