<div class='container'>
  <div class="title">
    <h2>{{t "section.team.title"}}</h2>
  </div>

  <div class="server-desc">
    <p>
     {{t "section.team.block1"}}
    </p>
    <p>
      {{t "section.team.block2"}} <a class="contact" href="mailto:raccoon@procyoncoin.org">raccoon@procyoncoin.org</a>
    </p>
  </div>


  <div class="description wow fadeInUp">
    <ul>
      <li>
        <img src="/img/team/billy.jpg">
        <div class='item-title'>Billy</div>
        <div class='underline'></div>
        <div class='text'>CEO &amp; Founder</div>
      </li>
      <li>
        <img src="/img/team/cyrille.jpg">
        <div class='item-title'>Cyrille</div>
        <div class='underline'></div>
        <div class='text'>Raccoon associate</div>
      </li>
      <li>
        <img src="/img/team/garl.jpg">
        <div class='item-title'>Garl</div>
        <div class='underline'></div>
        <div class='text'>Raccoon associate</div>
      </li>
      <li>
        <img src="/img/team/stopcoon.jpg">
        <div class='item-title'>Stop-Coon</div>
        <div class='underline'></div>
        <div class='text'>Raccoon associate</div>
      </li>
      <li>
        <img src="/img/team/zels.jpg">
        <div class='item-title'>Zels</div>
        <div class='underline'></div>
        <div class='text'>Raccoon associate</div>
      </li>
      <li>
        <img src="/img/team/raf.jpg">
        <div class='item-title'>RAF</div>
        <div class='underline'></div>
        <div class='text'>Raccoon associate</div>
      </li>
    </ul>
  </div>

</div>
