<div class='container'>
  <div class="title">
    <h2>L'Equipe</h2>
  </div>

  <div class="server-desc">
    <p>
      Le recrutement pour cette aventure est ouvert !
    </p>
    <p>
      Vous etes un raton laveur qui souhaiterait participer au projet. Envoyez votre candidature ici : 
    </p>
  </div>


  <div class="description wow fadeInUp">
    <ul>
      <li>
        <img src="/img/team/billy.jpg">
        <div class='item-title'>Billy</div>
        <div class='underline'></div>
        <div class='text'>CEO &amp; Founder</div>
      </li>
    </ul>
  </div>

</div>
