<div class='container'>
  <div class="title">
    <h2>{{t "section.team.title"}}</h2>
  </div>

  <div class="server-desc">
    <p>
     {{t "section.team.block1"}}
    </p>
    <p>
      {{t "section.team.block2"}} <a class="contact" href="mailto:raccoon.procyoncoin@gmail.com">raccoon.procyoncoin@gmail.com</a>
    </p>
  </div>


  <div class="description wow fadeInUp">
    <ul>
      <li>
        <img src="/img/team/billy.jpg">
        <div class='item-title'>Billy</div>
        <div class='underline'></div>
        <div class='text'>CEO &amp; Founder</div>
      </li>
    </ul>
  </div>

</div>
