
<ul class="timeline">

  <!-- Item 1 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">Phase 1 - Creer</span>
      </div>
      <div class="desc">
        <div>
          - Lancement Procyon 'coon' coin. ✅
        </div>
        <div>
          - Site Web ✅
        </div>
        <div>
          - Creation du portefeuille ✅
        </div>
        <div>
          - Recrutement d'une equipe
        </div>
      </div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">Phase 2 - Lister</span>
      </div>
      <div class="desc">
        <div>
          - Lister Procyon 'coon' coin sur les plateformes d'echange
        </div>
        <div>
          - Contacter les influenceurs, creer des ambassadeurs
        </div>
        <div>
          - Creation d'applications utilisant Procyon 'coon' coin.
        </div>
      </div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">Phase 3 - Promouvoir</span>
      </div>
      <div class="desc">
       <div>
         - Lancement d'une place de marche pour les applications utilisant la cryptomonnaie
       </div>
       <div>
         - Promouvoir Procyon 'coon' coin au travers de partenariats
       </div>
      </div>
    </div>
  </li>

</ul>
