{{page-title "Whitepaper"}}

<div class="whitepaper">
    <div class="container">
        <div class="title">
            Procyon 'coon' Coin Whitepaper
        </div>
        <div class="subtitle">
            June 2022
        </div>


        <div class="notice">
            Legal Notice: ProcyonCoin does not offer financial advice or advertise the sale of $PRCO. Nothing in the whitepaper should be read as guaranteed. The whitepaper only outlines current plans for ProcyonCoin.
        </div>

        <div class="bitcoin-history">
            Blockchain technology appeared in the 90s, but it was in 2008 that it began to gain momentum with the creation of Bitcoin by "Satoshi Nakamoto". This enigmatic creator currently remains unknown but his technology is used throughout the world!
        </div>

        <div class="quote">
            Blockchain is a shared, immutable ledger that facilitates the process of recording transactions and tracking assets in a business network. An asset can be tangible (a house, car, cash, land) or intangible (intellectual property, patents, copyrights, branding). Virtually anything of value can be tracked and traded on a blockchain network, reducing risk and cutting costs for all involved.
            <div class="author">- IBM</div>
        </div>

        <div class="fork">
            ProcyonCoin use blockchain technologies created by Bitcoin and Ravencoin. ProcyonCoin is a fork from Ravencoin.
            <br/>
            <br/>
            Ravencoin is a powerfull blockchain and platform optimized for transferring assets, such as tokens, from one holder to another.
        </div>

        <h1>Introduction</h1>

        <div class="who">
            ProcyonCoin is the coin used by raccoons ! 
            <br>
            If a raccoon wants to afford a brand new video card, it needs a cryptocurrency that looks like it. With this video card, he can then participate in securing his currency by mining. What a vicious circle! The raccoon is happy!
        </div>

        <div class="what">
            <b>Coin Name:</b> Procyon 'coon' Coin
            <br>
            <b>Coin Symbol:</b> PRCO
            <br>
            <b>Total Coins:</b> 151.000.000 PRCO
            <br>
            <b>Premine:</b> No
            <br>
            <b>Block Time:</b> 60s
            <br>
            <b>Initial Mining Reward:</b> 45 PRCO
            <br>
            <b>Halving Interval:</b> 3 years
        </div>
    </div>
    
</div>

{{outlet}}
